* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #b8b6f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  height: 600px;
  background: #fff;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}


.left {
  width: 50%;
  background: #f1dcb8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 80%;
}

/* LADO DIREITO */
.right {
  width: 50%;
  padding: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top h1 {
  font-size: 32px;
  border-bottom: 4px solid #6c63ff;
}

.btn-entrar {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

form {
  width: 100%;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: bold;
}

.input-group input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-color: #6c63ff;
}

.gender {
  margin-bottom: 30px;
}

.gender label {
  font-weight: bold;
}

.options {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-continuar {
  width: 100%;
  padding: 14px;
  background: #5a54d6;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-continuar:hover {
  background: #4a45c4;
}
